<section class="messages-section">
  <h3 class="messages-heading">messages</h3>
  <div class="messages-container">
    <% if (messages) { %> <% messages.forEach((message) => { %>
    <article class="message">
      <div class="message-content">
        <p><%= message.text %></p>
      </div>
      <% if (user && user.isAdmin) { %>
      <form action="/delete-message" method="post">
        <input value="<%= message.id %>" type="hidden" name="message-id" />
        <button type="submit" class="delete-message-button">
          Delete Message
        </button>
      </form>
      <% } %> <% if (user && user.isMember) { %>
      <div class="message-data">
        <p class="message-author">
          <%= message.author.firstName %> <%= message.author.lastName %>
        </p>
        <p class="message-time">
          <%= message.timestamp.toDateString() %>, <%=
          message.timestamp.toLocaleTimeString() %>
        </p>
      </div>
      <% } %>
    </article>
    <% }) %> <% } %>
  </div>
</section>
